---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>

      <div class="row center">
        <a href="https://docs.google.com/spreadsheets/d/1mTgyxpiQWnTkZ74PeaGVIIg7At3BPntF1fTT9Pq8Q4E/edit?ts=59b5e761#gid=832516043" id="download-button" class="btn-large waves-effect waves-light orange">Irma Infosheet</a>
        <a href="Shelters/" id="download-button" class="btn-large waves-effect waves-light orange">Irma Shelter Map</a>
        <a href="Weather/" id="download-button" class="btn-large waves-effect waves-light orange">Irma Weather Log</a>
      </div>
      <br><br>

    </div>
  </div>

  <div class="container">

    </div>
    <div style="background: #ddd">
    <div class="container last-post">
    <section>
        <h5>Latest Post</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>
    </section>
    </div>
</div>

  </div>
